html, body {
    margin: 0; height: 100%;
}

body {
    text-align: center; overflow: hidden; background: url(../img/bg2.jpg); background-size: cover;
}

.test {
    position: absolute; top: 50%; left: 0; width: 100%; height: 46px; margin-top: -23px; font: 46px/46px 'tahoma'; color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, .75);
}