html, body {
    margin: 0; height: 100%;
}

body {
    text-align: center; overflow: hidden;
}

.test {
    position: absolute; top: 50%; left: 0; width: 100%; height: 46px; font: 46px/46px 'tahoma'; color: #333;
}