<div id="commentit"></div>
<script type="text/javascript">
  var commentitUsername = 'smalldragonluo';
  var commentitRepo = 'smalldragonluo/blog.smalldragonluo.com';
  var commentitPath = location.pathname;

  /** DON'T EDIT FOLLOWING LINES **/
  (function() {
    var commentit = document.createElement('script');
    commentit.type = 'text/javascript';
    commentit.async = true;
    commentit.src = 'https://commentit.io/static/embed/dist/commentit.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(commentit);
  })();
</script>
