<% if(theme.duoshuo) { %>
<div class="ds-thread" data-thread-key="<%= page.path %>" data-title="<%= page.title %>"
     data-url="<%= page.permalink %>" data-author-key="1"></div>
<% } %>

<% if(theme.disqus) { %>
<div id="disqus_thread"></div>

<!--<script>-->
  <!--var disqus_config = function() {-->
    <!--this.page.url = 'http://blog.smalldragonluo.com' + location.pathname;  // Replace PAGE_URL with your page's canonical URL variable-->
    <!--this.page.identifier = location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable-->
  <!--};-->

  <!--(function() { // DON'T EDIT BELOW THIS LINE-->
    <!--var d = document, s = d.createElement('script');-->
    <!--s.src = 'https://<%= theme.disqus %>.disqus.com/embed.js';-->
    <!--s.setAttribute('data-timestamp', +new Date());-->
    <!--(d.head || d.body).appendChild(s);-->
  <!--})();-->
<!--</script>-->
<script>
  var disqus_shortname = 'smalldragonluo';
  var disqus_url = 'http://blog.smalldragonluo.com' + location.pathname;

  (function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//go.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<% } %>
