<div class="footer-row">
  <img class="logo-footer" src="/assets/dragon-small.png">
</div>
<div class="footer-row">
  <h4>Links</h4>
  <ul>
    <li><a href="http://smalldragonluo.com/" target="_blank">笑话大王</a></li>
    <li><a href="http://taobaofed.org/" target="_blank">淘宝 FED</a></li>
    <li><a href="http://harvestmoon.cn/blog/" target="_blank">Harvest Moon</a></li>
  </ul>
</div>
<div class="footer-row">
  <h4>Languages</h4>
  <ul>
    <li><a href="http://translate.google.com/translate?hl=&sl=zh-CN&tl=en&u=https%3A%2F%2Fblog.smalldragonluo.com%2F"
           target="_blank">English</a></li>
    <li><a href="http://translate.google.com/translate?hl=&sl=zh-CN&tl=ja&u=https%3A%2F%2Fblog.smalldragonluo.com%2F"
           target="_blank">日本語</a></li>
    <li><a href="http://translate.google.com/translate?hl=&sl=zh-CN&tl=ko&u=https%3A%2F%2Fblog.smalldragonluo.com%2F"
           target="_blank">한국어</a></li>
  </ul>
</div>
<div class="footer-row">
  <h4>Notice</h4>
  <ul>
    <li><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
        <img alt="Creative Commons License"
             style="border-width:0"
             src="https://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png"/></a>
    </li>
  </ul>
</div>

<div class="footer-row">
  © 2017 <%- config.author %><span class="split" style="display: inline-block; width: 0; height: 12px; border-left: 1px solid #ccc; border-right: 1px solid #fbfbfb; margin: 0 5px; vertical-align: middle;"></span><a href="http://www.miitbeian.gov.cn/" style="color: #333;">渝ICP备15012192号-1</a>
  <span style=" display: block; margin-top: 4px; font-size: 12px;">Hosted by <a href="https://pages.coding.me" style="font-weight: bold;color: #333;">Coding Pages</a></span>
  <!-- Powered by <a href="https://github.com/tommy351/hexo">Hexo</a> <a href="https://github.com/nuklly/hexo-theme-greyshade">GreyShade</a>-->
</div>
