footer
  border-top 1px solid color-gray05
  background #efefef
  text-align center
  font-size 0.9em
  .footer-row
    float left
    padding-right 40px
    .logo-footer
      width 126px
    h4
      margin-bottom 10px
      font-size 14px
      color #666
    ul
      list-style none
    a
      color #666
      font-size 12px
      line-height 20px
    a:hover
      text-decoration underline
