body #ds-thread #ds-reset .ds-meta {
  display: none;
}

body #ds-thread #ds-reset .ds-comments {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}

body #ds-thread #ds-reset .ds-comments-info {
  margin-top:0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}

body #ds-thread #ds-reset .ds-toolbar {
  border-top: 1px solid #fff;
}

body #ds-thread #ds-reset li.ds-post-placeholder {
  border: none;
}

body #ds-thread #ds-reset .ds-meta {
  border-top: 1px solid #fff;
}

body #ds-thread #ds-reset .ds-powered-by {
  border-bottom: 1px solid #ddd;
}

#ds-thread #ds-reset li.ds-post:first-child {
  border: none;
}

#ds-thread #ds-reset .ds-post-self:first-child {
  border: none;
}